.venv
node_modules
.vscode
.angular
backend/static/clean_midi
backend/static/melody_midi
backend/static/frontend_dist
__pycache__
backend/twlcsmodule/dist
backend/twlcsmodule/build
backend/twlcsmodule/twlcs.egg-info