:host {
  flex-shrink: 1;
  min-width: 0;
  --col-count: 100;
  --col-width: 20px;
  position: relative;
}
canvas {
  width: calc(var(--col-width) * var(--col-count));
  height: calc(var(--row-height) * 12 * var(--octave-count));
  border-bottom: 1px solid black;
}
.curr-note,
.curr-note ::ng-deep * {
  cursor: default !important;
}

.seeker {
  width: 5px;
  margin-left: -2px;
  border: 2px solid transparent;
  border-top: none;
  background-clip: content-box;
  background-color: red;
  height: calc(var(--row-height) * 12 * var(--octave-count));
  position: absolute;
  top: 0;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
